html {
   background-image: url('../img/large-banner-image.png');
   background-repeat: no-repeat;
   position: absolute;
   width: 100vw;
   height: 700px;
}

body {
   width: 1600px;
}

.header img:nth-child(1) {
   position: absolute;
   left: 680px;
   top: 90px;
}

.header h1:nth-child(2) {
   position: absolute;
   font-family: Pacifico, 'Myriad pro', sans-serif;
   font-size: 60px;
   left: 770px;
   top: 90px;
}

.header p:nth-child(3) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 36px;
   left: 480px;
   top: 210px;
}

.arrow img:nth-child(1) {
   position: absolute;
   left: 775px;
   top: 292px;
}

.phone img:nth-child(1) {
   position: absolute;
   left: 575px;
   top: 360px;
}

.phone img:nth-child(2) {
   position: absolute;
   left: 700px;
   top: 645px;
}

.phone img:nth-child(3) {
   position: absolute;
   left: 720px;
   top: 845px;
}

.phone img:nth-child(4) {
   position: absolute;
   left: 845px;
   top: 560px;
}

.phone img:nth-child(5) {
   position: absolute;
   left: 855px;
   top: 825px;
}

.phone img:nth-child(6) {
   position: absolute;
   left: 870px;
   top: 840px;
}

.phone img:nth-child(7) {
   position: absolute;
   left: 870px;
   top: 840px;
}

.white-section {
   position: absolute;
   height: 700px;
   top: 700px;
}

.white-section h2:nth-child(1) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-weight: 700;
   font-size: 22px;
   line-height: 18px;
   top: 45px;
   left: 275px;
   width: 300px;
   color: #222;
}

.white-section p:nth-child(2) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 16px;
   line-height: 26px;
   width: 300px;
   top: 95px;
   left: 275px;
   color: #848484;
}

.white-section h2:nth-child(3) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-weight: 700;
   font-size: 22px;
   line-height: 18px;
   width: 300px;
   left: 275px;
   top: 240px;
   color: #222;
}

.white-section p:nth-child(4) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 16px;
   line-height: 26px;
   width: 300px;
   top: 280px;
   left: 275px;
   color: #848484;
}

.white-section h2:nth-child(5) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-weight: 700;
   font-size: 22px;
   line-height: 18px;
   top: 45px;
   left: 1020px;
   width: 300px;
   color: #222;
}

.white-section p:nth-child(6) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 16px;
   line-height: 26px;
   width: 300px;
   top: 95px;
   left: 1020px;
   color: #848484;
}

.white-section h2:nth-child(7) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-weight: 700;
   font-size: 22px;
   line-height: 18;
   width: 300px;
   top: 50px;
   left: 1020px;
   color: #222;
}

.white-section p:nth-child(8) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 16px;
   line-height: 26px;
   width: 300px;
   top: 280px;
   left: 1020px;
   color: #848484;
}

.video {
   position: absolute;
   background-color: #e3e3e3;
   width: 1600px;
   height: 700px;
   top: 1150px;
}

.video img:nth-child(1) {
   position: absolute;
   left: 890px;
   top: 63px;
}

.video img:nth-child(2) {
   position: absolute;
   left: 910px;
   top: 295px;
}

.video img:nth-child(3) {
   position: absolute;
   left: 995px;
   top: 295px;
}

.video img:nth-child(4) {
   position: absolute;
   left: 210px;
   top: 218px;
}

.video img:nth-child(5) {
   position: absolute;
   left: 295px;
   top: 218px;
}

.video img:nth-child(6) {
   position: absolute;
   left: 385px;
   top: 218px;
}

.video h2:nth-child(7) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 22px;
   font-weight: 700;
   line-height: 18px;
   top: 55px;
   left: 210px;
   color: #222;
}

.video p:nth-child(8) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 16px;
   line-height: 26px;
   width: 550px;
   top: 80px;
   left: 210px;
   color: #848484;
}

.kyle {
   position: absolute;
   background-color: #fff;
   width: 1600px;
   height: 780px;
   top: 1584px;
}

.kyle h2:nth-child(1) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 24;
   line-height: 24px;
   top: 59px;
   left: 350px;
   color: #000;
}

.kyle h3:nth-child(2) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 14;
   line-height: 24px;
   top: 100px;
   left: 715px;
   color: #000;
}

strong,
b {
   font-weight: 900;
}

.people img:nth-child(1) {
   background-image: url('../img/people.png');
   background-repeat: no-repeat;
   position: absolute;
   top: 1754px;
}

.people img:nth-child(2) {
   position: absolute;
   top: 1834px;
   left: 915px;
}

.people img:nth-child(3) {
   position: absolute;
   top: 1890px;
   left: 924px;
}

.say-hi {
   position: absolute;
   background-color: #fff;
   width: 1600px;
   height: 270px;
   top: 1992px;
}

.say-hi h2:nth-child(1) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 24;
   line-height: 24px;
   top: 60px;
   left: 715px;
   color: #000;
}

strong,
b {
   font-weight: 800;
}

.say-hi p:nth-child(2) {
   position: absolute;
   font-family: Raleway, 'Myriad pro', sans-serif;
   font-size: 14;
   line-height: 24px;
   top: 95px;
   left: 560px;
   color: #000;
}

.say-hi img:nth-child(3) {
   position: absolute;
   top: 140px;
   left: 593px;
}

.say-hi img:nth-child(4) {
   position: absolute;
   top: 140px;
   left: 637px;
}

.say-hi img:nth-child(5) {
   position: absolute;
   top: 140px;
   left: 680px;
}

.say-hi img:nth-child(6) {
   position: absolute;
   top: 140px;
   left: 725px;
}

.say-hi img:nth-child(7) {
   position: absolute;
   top: 140px;
   left: 768px;
}

.say-hi img:nth-child(8) {
   position: absolute;
   top: 140px;
   left: 810px;
}

.say-hi img:nth-child(9) {
   position: absolute;
   top: 140px;
   left: 810px;
}

footer {
   background-color: #e3e3e3;
   height: 150px;
   display: flex;
   justify-content: 
}
