html {

   background-image: url('../img/large-banner-image.png');
   background-repeat: no-repeat;
   position: absolute;
   width: 100vw;
   height: 20px;
}

.header img:nth-child(1){
  position: absolute;
  left: 650px;

}
.header h1:nth-child(2){
  position: absolute;
  font-family:'pacifico', myriad pro;
  font-size: 50px;
  left: 800px;
}

